*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", Arial;
    background-color: rgb(219, 219, 247);
}

/* Utility */

.inline-block{
    display: inline-block;
    vertical-align: middle;
}

/* Text color */

.text-white{
    color: white;
}

.text-lightgray{
    color: lightgray;
}

/* header */

h1{
    font-size: 2.5em;
}

header{
    background-color: white;
}

.logo{
    padding-left: 20px;
}


/* main */

main{
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

/* Text size */

summary{
    font-size: 1.5em;
    font-weight: bold;
}

/* Spacing */
summary{
    margin-top: 30px;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.alignment-left{
    padding-left: 50px;
}

.space-bottom{
    padding-bottom: 30px;
}

/* Elements */

/* Button */
.btn-row{
    border-bottom: 1px solid gray;
    padding-top: 15px;
    padding-bottom: 10px;
}

button{
    border-radius: 8px;
    padding: 6px 12px;
    border: 1px solid;
}

.btn-task{
    border-color: #14aaf5;;
    background-color: #14aaf5;
    color: white;
}

.btn-section{
    border-color: lightgray;
    background-color: white;
    color: lightgray;
}

/* Badge */
.badge{
    font-size: 0.8em;
    padding: 8px;
    margin: 5px;
    border-radius: 30px;
    color: white;
}

/* Badge bg color */

.bg-editorial{
    background-color: #14aaf5;
}

.bg-mobile{
    background-color: rgb(255, 196, 0);
}

.bg-goals{
    background-color: rgb(179, 47, 179);
}

.bg-recuiting{
    background-color: rgb(1, 221, 221);
}

.bg-website{
    background-color: rgb(233, 48, 156);
}

.bg-sales{
    background-color: greenyellow;
}

/* Symbol */
.circle{
    /* create box */
    width: 30px;
    height: 30px;
    /* make it circle */
    border-radius: 50%;
    /* style */
    margin-right: 10px;
    border: 2px solid;
    /* centered in the middle */
    text-align: center;
    line-height: 30px;
}

.cross{
    color: red;
    border-color: red;
}

.mark{
    color: green;
    border-color: green;
    ;
}